/* Parte da imagem de fundo e titulo da pagina */

* {
    color: #a9aaa9;
}

body {
    background-color: #a9aaa9;
}

.section-PP {
    position: relative;
    height: 906px;
    width: 100%;
    overflow: hidden;
}

.img-title-page {
    height: max-content;
    display: flex;
    width: 100%;
}

.img-title-page img {
    z-index: -1;
    position: absolute;
    max-width: 1360px;
    min-height: 906px;
}

.img-title-page h1 {
    color: white;
    text-align: center;
    z-index: 2;
    font-weight: 500;
    font-size: 80pt;
    position: absolute;
    top: 55%;
    left: 7%;
}

h1 i {
    color: #00a99d;
    font-style: normal;
}


/*================================================================*/


/* estilização do formulário do personalize seu plano*/

.section-pp {
    width: 100%;
    display: flex;
}

.content-form-pp {
    border-radius: 1rem;
    background-color: white;
    width: 50rem;
    margin: 1rem auto 3rem;
    max-width: max-content;
    padding: 1rem 3rem;
    box-shadow: black 0rem 0rem 1rem;
}


/* estilização dos inputs */

.inputs-marcaveis {
    flex-direction: column;
    display: inline-flex;
    width: 100%;
}

.form-pp div input {
    margin-right: 1rem;
}

.form-pp input[type="checkbox"] {
    appearance: none;
    width: 12px;
    height: 12px;
    border: 1px solid #a9aaa9;
}

.form-pp input[type="checkbox"]:hover {
    border: #696969 solid 1px;
}

.form-pp input[type="checkbox"]:checked {
    background-color: #a9aaa9;
}

.inputs-marcaveis div {
    display: inline-flex;
    align-items: center;
}

.inputs-marcados {
    margin-bottom: 2rem;
    /* Afastamento da div para melhorar leitura na parte inferior*/
}


/*estilização dos inputs radios*/

.inputs-radios {
    width: 20rem;
    display: inline-flex;
    flex-direction: column;
    margin: 2rem 0 2rem 3rem;
}


/*====================================================================*/


/* Estilizaçao de textos */


/*h2*/

.form-pp h2 {
    font-size: 29pt;
    font-weight: 400;
    margin-bottom: 1rem;
}

.form-pp h3 {
    font-size: 17pt;
    font-weight: 400;
    margin-bottom: 1rem;
}


/*Estilizando botao continuar*/

.continue {
    border: none;
    width: 20rem;
    height: 3rem;
    border-radius: .3rem;
    background-color: #00a99d;
    color: white;
    font-weight: bold;
    text-align: center;
    align-items: center;
    font-size: 27pt;
    margin-bottom: 1rem;
    margin-right: 20px;
}

.continue {
    transition: .3s;
}

.continue:hover {
    background-color: transparent;
    color: #00a99d;
    transition: .3s;
}


/*alinhando o botao com o valor total*/

.finalizacao-form {
    display: inline-flex;
}


/*formatando texto do valor total*/

.valor-total h5 {
    font-size: 15pt;
    font-weight: 600;
}

.valor-total p {
    position: relative;
    font-size: 10pt;
    font-weight: 400;
}

.cifrao {
    font-size: 15pt;
}

#valor {
    font-size: 34pt;
}

#mes {
    position: absolute;
    top: 15px;
}