* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Parte do topo do site*/

header {
    position: relative;
    display: flex;
    z-index: -1;
    height: max-content;
}

.img-background {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: max-content;
}

.img-background img {
    width: 100%;
    min-width: 1400px;
    overflow: hidden;
    height: max-content;
}

.titlePage {
    position: absolute;
    z-index: 2;
    top: 55%;
    left: 50%;
}

.titlePage h1 {
    font-size: 80pt;
    color: white;
    text-shadow: black 0px 0px 10px;
}

.titlePage i {
    font-style: normal;
    color: #00a99d;
}


/* fim da Parte do topo do site*/


/* corpo da pagina */

.cards-plans {
    display: inline-flex;
    width: 100%;
    padding: 0 10rem;
    align-items: center;
    height: 1600px;
}

.cards-plans div {
    margin: 2rem auto;
}


/*formatação dos links (cards) */

.cards-plans div a {
    text-decoration: none;
}

.card {
    width: 360px;
    height: 705px;
    background-color: #4fafb7;
    border-radius: 2rem;
    margin-top: 2rem;
    transition: .3s;
    display: flex;
    flex-direction: column;
}

.card:hover {
    background-color: #f79725;
    cursor: pointer;
    width: 380px;
    height: 725px;
    transition: .3s;
}

.card h3 {
    text-align: center;
    top: 1rem;
    position: relative;
    color: white;
    font-weight: bold;
    font-size: 17pt;
}


/*Detalhe do interior de cada card*/

.details-price {
    background-color: white;
    width: 300px;
    height: 180px;
    border-radius: 2rem;
    box-shadow: black 0px 0px 10px;
    position: relative;
    display: flex;
    margin-bottom: 2rem;
    justify-content: center;
    align-items: center;
}


/*formatando o detalhamento do preço */

.details-price p {
    color: black;
    font-size: 60pt;
}

.details-price i {
    font-style: normal;
    color: black;
}

#cifrao {
    font-size: 21pt;
}

#centavos {
    font-size: 27pt;
}

#mes {
    position: absolute;
    top: 65%;
    right: 5%;
    font-size: 16pt;
}


/*Formatação dos resources dos cards*/

.list-resource li {
    color: white;
    font-size: 12pt;
    margin: 0 auto 1rem;
}


/*===============================================================*/


/*Formatando a parte inferior do site antes de o footer iniciar*/

.parte-inferior {
    width: 100%;
    height: 830px;
    position: relative;
    display: flex;
}

.parte-inferior img {
    min-width: 1100px;
    width: 100%;
    height: 830px;
    position: absolute;
    overflow: hidden;
    z-index: -2;
}

#content {
    height: max-content;
    margin: auto;
    position: relative;
}

#content h2 {
    font-size: 80pt;
    font-weight: 500;
    text-align: center;
    color: #8c3266;
    position: relative;
}

#content h2 i {
    font-style: normal;
}

#primaryWrite {
    color: #8c3266;
    position: relative;
}

#content hr {
    border: solid white 1px;
    width: 300px;
    position: absolute;
    top: 115px;
    right: 0px;
}

#secondWrite {
    color: #00a99d;
}

#content button {
    top: 160%;
    left: 90%;
    position: absolute;
    background-color: #00a99d;
    border: none;
    padding: 0 1rem;
    box-shadow: black 0px 0px 5px 1px;
    border-radius: 2rem;
}

#content button a {
    text-decoration: none;
    color: #8c3266;
    text-transform: uppercase;
    font-size: 32pt;
}