/*Página RECLAME*/

.form-reclame {
    margin-top: 3rem;
    font-size: 20pt;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-reclame h2 {
    margin-bottom: 3rem;
    color: #4fafb7;
    font-size: 22pt;
    font-weight: 400;
}

.form-dados-pessoais {
    display: flex;
    flex-direction: column;
}

.form-dados-pessoais label {
    margin-right: 1rem;
}

.form-dados-pessoais div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#informar-problema {
    align-items: flex-start;
}

.width-input-default input {
    width: 480px;
    height: 25px;
}

#problemaReclame {
    height: 350px;
    width: 480px;
    padding: 1rem;
    font-size: 1rem;
}

#reset {
    height: auto;
    width: auto;
}

.form-forma-contato {
    text-align: center;
}

.form-forma-contato h3 {
    color: #4fafb7;
    font-weight: 400;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.form-forma-contato label {
    display: inline-flex;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
}


/*Estrutura para formatar a "bolinha" de seleção radio*/

.form-forma-contato input[type="radio"] {
    display: none;
}

.form-forma-contato button {
    margin-right: 1rem;
    background-size: 1rem;
    border-radius: 5rem;
    border: solid #898989 2px;
    width: 10px;
    height: 10px;
}

.form-forma-contato input[type="radio"]:checked+label button {
    background-size: 1rem;
    background-color: #898989;
    border: none;
    width: 10px;
    height: 10px;
}


/* Input "Apagar tudo"*/

.form-forma-contato input[type="reset"] {
    background: none;
    border: none;
    font-size: 17pt;
    color: #898989;
    font-weight: 700;
    margin: 2rem 0rem 2rem;
}

.form-forma-contato input[type="reset"]:hover {
    color: #acacac;
    transition: 1s;
}


/*==============================================================*/


/*=======================================================*/


/*
    *alinhamento dos botões de envio e cancelar;
    *Estilização */

#submit_cancel-button {
    display: flex;
    justify-content: center;
    width: 100%;
}

#submit_cancel-button input {
    font-size: 17pt;
    font-weight: 400;
    border-radius: 1rem;
    margin-bottom: 2rem;
}

#submit_cancel-button input[type="submit"] {
    background: none;
    border: 2px solid #53df90;
    width: 7rem;
    height: 2rem;
    color: #53df90;
    margin-right: 2rem;
}

#submit_cancel-button input[type="submit"]:hover {
    background: #53df90;
    color: white;
    transition-duration: 1s;
}

#submit_cancel-button input[type="button"] {
    background: none;
    border: 2px solid #ff0000;
    width: 7rem;
    height: 2rem;
    color: #ff0000;
    margin-left: 2rem;
}

#submit_cancel-button input[type="button"]:hover {
    background: #ff0000;
    color: white;
    transition-duration: 1s;
}


/*=============================================================*/