/*PAGINA DE TEN DAYS FREE*/

.bg-days-free {
    max-width: 100%;
    position: absolute;
    height: 900px;
    overflow: hidden;
}

.bg-days-free img {
    height: 100%;
}

#header-10daysfree {
    position: relative;
    display: flex;
    height: 900px;
}

.title-10daysfree {
    position: relative;
    margin: auto;
    max-width: max-content;
    max-height: min-content;
    text-align: center;
    font-size: 20pt;
}

.title-10daysfree h1 {
    color: white;
    font-weight: 500;
}

.title-10daysfree b {
    color: white;
}


/* formatação do formulário*/

.content-1 {
    display: flex;
    margin: auto;
    width: max-content;
}

.container-form10daysfree {
    display: flex;
    flex-direction: column;
    max-width: max-content;
}

.container-form10daysfree h3 {
    background-color: #4fafb7;
    color: white;
    font-weight: 600;
    width: 20rem;
    padding: 5px 2rem;
    border-radius: .3rem;
    margin: 4rem 0 2rem;
    text-align: center;
}

.form-tendaysfree {
    display: flex;
    flex-direction: column;
    align-items: left;
    font-size: 14pt;
    font-weight: 800;
    position: relative;
}

.form-tendaysfree h4 {
    margin-bottom: 2rem;
    color: #636363;
}

.form-tendaysfree div {
    margin-left: 1rem;
    display: flex;
}

.form-tendaysfree input {
    margin-bottom: 1rem;
    flex-grow: 1;
    margin-left: 1rem;
    font-size: 14pt;
    font-weight: 600;
    border: solid 1px #898989;
}

.form-tendaysfree input[type="submit"] {
    background-color: #4fafb7;
    color: white;
    width: 20rem;
    padding: 5px 2rem;
    border-radius: .3rem;
    border: none;
    margin: 2rem 0 4rem;
    text-align: center;
}

.form-tendaysfree input[type="submit"]:hover {
    background-color: transparent;
    color: #4fafb7;
    transition: .5s;
}


/*pseudo element image triangular para baixo*/

.form-tendaysfree::after {
    content: url(../images/pseudo-image001.png);
    position: absolute;
    transform: translate(190%, 374%);
}


/*conteúdo inferior da pag antes do footer*/

.content-icons {
    background-color: #c6c6c6;
}

.content-image-text {
    display: block;
    width: min-content;
    text-align: center;
    font-size: 16pt;
}

.conteudo {
    justify-content: space-between;
    height: max-content;
    padding: 4rem 3rem 2rem;
}

.conteudo img {
    width: 13rem;
    height: 13rem;
}

.flex {
    display: flex;
}

.first-content {
    padding: 0;
}

.second-content {
    margin: 5rem 0 5rem;
}

.third-content {
    padding: 0;
    margin-top: 0;
}


/*===============================================================================*/