body {
    background-color: #e9e9e9;
}

.formularioCadastrarPlano fieldset {
    background-color: #00a99d;
    color: white;
    width: 425px;
    text-align: center;
    padding: .5rem 0;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    margin: 3rem 0 2rem 0;
}

.formularioCadastrarPlano p {
    color: #515151;
    font-weight: 600;
    margin: 2rem 0;
}

#contents {
    display: flex;
}

.divsContentsAligns {
    display: inherit;
}