* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Montserrat;
}


/*Tamanhos de tela width screen*/

.width-delimited-100 {
    max-width: 90%;
    margin: 0rem 3rem;
}

.screen-width {
    width: 100%
}


/*===========================*/


/* Nav menu, menu de navegação */

.nav-menu.background {
    height: 50px;
    border-bottom: solid #a9aaa9 3px;
}

.content-nav-menu {
    display: flex;
    align-items: center;
    height: 50px;
    float: right;
    width: 100%;
    justify-content: space-between;
}

.menu-principal ul li {
    display: inline-block;
    margin-bottom: 5px;
}


/* ==================================*/


/*formatação dos links no menu */

.menu-principal a {
    font-size: 14pt;
    font-weight: 600;
    text-decoration: none;
    color: #f7931e;
    justify-content: space-between;
    margin: 1rem;
}

.menu-principal a:hover {
    color: #00a99d;
}

.menu-principal #ten-days-free {
    background-color: #00a99d;
    color: white;
    border-radius: 12px;
    display: inline-block;
    text-align: center;
    width: 12rem;
    padding: .3rem .7rem;
}

.menu-principal #ten-days-free:hover {
    background-color: white;
    color: #00a99d;
    transition-duration: .5s;
}


/*=====================================*/


/* Parte superior do site */

.img-background {
    max-width: 100%;
    height: 900px;
    position: absolute;
    z-index: -1;
}

.effect-fade {
    z-index: 0;
    position: absolute;
    height: 100.0%;
    width: 100%;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.5);
}

.img-background img {
    height: 100%;
    width: 100%;
    z-index: 0;
}

.top-content {
    position: relative;
    height: 900px;
    display: flex;
    width: 100%;
}


/*alinhamento de conteúdo */

#logo {
    width: 100%;
    margin-left: 10px;
}

.content {
    max-width: 38rem;
    height: max-content;
    display: inline-block;
    text-align: center;
    padding: 1rem 2rem 2rem;
    color: white;
    margin: 10rem auto;
}


/* formatação de textos e margens*/

#top-message {
    font-weight: 300;
    font-size: 2em;
    margin-bottom: 4rem;
    margin-top: 3rem;
}

#welcome {
    font-size: 28pt;
    font-weight: bold;
}

#welcome button {
    font-size: 28pt;
    font-weight: bold;
    color: #00a99d;
    border-radius: 2rem;
    padding: 0.5rem;
    border: none;
    margin-top: 3rem;
}

#welcome a {
    font-weight: 500;
    font-size: 11pt;
    color: white;
}


/*===========================*/


/* Primeiro conteúdo da página*/

.first-content {
    height: auto;
    width: 100%;
    padding: 3rem 0;
    position: relative;
    display: flex;
}

.h2-content {
    font-size: 40pt;
    font-weight: 300;
    color: #00a99d;
    position: relative;
    width: 400px;
    margin-left: 2rem;
}

hr {
    height: 3px;
    background-color: #00a99d;
    border: none;
    width: 200px;
    margin-left: 5rem;
}

.title-and-text {
    position: relative;
    width: 800px;
}

.p-content {
    font-size: 20pt;
    font-weight: 300;
}

#flat-homepage {
    width: min-content;
    height: min-content;
}


/*=============================================*/


/* second cont, segundo conteúdo da pág */

.second-content {
    display: flex;
}

.second-content #flat-homepage {
    margin-right: 6rem;
    padding-top: 5rem;
}

.second-content .h2-content {
    margin-bottom: 2rem;
}

.h2-content strong {
    font-size: 40pt;
    font-weight: 300;
    border-bottom: 3px solid;
}


/*==============================*/


/*third content, terceiro conteúdo da página*/

.third-content {
    display: flex;
    margin-top: 5rem;
}

.third-content hr {
    margin-left: 2.3rem;
    margin-bottom: 2rem;
}

.third-content #flat-homepage {
    margin-top: 6.5rem;
}


/*==============================*/


/* background citation*/

.background-citation {
    width: 100%;
    padding: 190px 90px;
    margin-top: 1rem;
    background: -moz-linear-gradient(135deg, #a99a46, #38bd71);
    background: -webkit-linear-gradient(135deg, #a99a46, #38bd71);
}

.content-citation {
    font-size: 27pt;
    color: white;
    text-align: center;
}


/*=========================================*/


/* Footer */

.h2 h2 {
    font-size: 23pt;
    font-weight: bold;
    color: #2e2e2e;
}

.content-footer {
    position: relative;
    max-width: max-content;
    margin: auto;
    color: white;
}

.icon-proveweb {
    margin: auto;
    max-width: min-content;
    display: block;
}

.img-icon {
    display: flex;
    justify-content: center;
}

.img-icon img {
    margin-top: 30px;
}


/*==========================*/


/*Top-footer */

#links-footer {
    margin-top: 45px;
    display: inline-flex;
    align-items: center;
}

#links-footer ul li {
    display: inline-flex;
    margin-right: 30px;
}

#links-footer ul li a {
    text-decoration: none;
    color: white;
}


/* social media   redes sociais*/

.fab {
    font-size: 40px;
    color: #2e2e2e;
}

.fa-linkedin-in {
    margin-left: 70px;
}


/*===========================================*/


/*Top-footer background */

.top-background-footer {
    width: 100%;
    height: 250px;
    background-color: #545454;
}


/*=============================================*/


/*Top-footer background */

.bottom-background-footer {
    height: 85px;
    background-color: #202020;
    display: flex;
}

.content-bottom-footer {
    margin: auto;
    position: relative;
    align-items: center;
}


/*=============================================*/