    * {
        color: #898989;
    }
    /* Background do Contato Proveweb */
    
    .background-gradient-title {
        background: -moz-linear-gradient(180deg, #4d8fd0, #53df90);
        background: -webkit-linear-gradient(180deg, #4d8fd0, #53df90);
        height: max-content;
        position: relative;
        display: flex;
        padding: 9rem 0;
    }
    
    .title-principal {
        max-width: max-content;
        max-height: max-content;
        margin: auto;
        margin-left: 8rem;
        font-size: 23pt;
        font-weight: bold;
        display: flex;
        align-items: center;
    }
    
    .title-principal h1 {
        color: white;
    }
    
    .title-principal p {
        color: white;
        font-weight: 100;
        font-size: 45pt;
        margin-left: 1rem;
    }
    /*========================================================*/
    /* Background do Contato Proveweb */
    
    .message {
        max-height: max-content;
        max-width: max-content;
        position: relative;
        margin-top: 1rem;
        margin-left: 3rem;
    }
    
    .message h2 {
        font-size: 27pt;
        font-weight: 400;
        color: #4fafb7;
        margin-top: 1rem;
        margin-left: 3rem;
    }
    
    .message p {
        margin-top: 3rem;
        margin-left: 3.3rem;
        font-size: 14pt;
        font-weight: 400;
    }
    /*========================================================*/
    /* Contat proveweb */
    
    .content-contat {
        max-height: max-content;
        max-height: max-content;
        margin-top: 4rem;
        position: relative;
        display: flex;
        align-content: left;
    }
    /* Formatação dos links*/
    
    .contat-links {
        margin: 0px auto 5rem;
    }
    
    .contat-links ul {
        list-style: none;
    }
    
    .contat-links li {
        margin-top: 70px;
        position: relative;
    }
    
    a {
        text-decoration: none;
    }
    /*=====================================================*/
    /*Formatação dos ícones*/
    
    .contat-links .icon {
        font-size: 30pt;
        color: #898989;
        /*alinhamento dos icones com o texto*/
        align-items: center;
        display: flex;
    }
    
    .text-link-contat {
        font-style: normal;
        font-family: 'montserrat';
        font-size: 14pt;
        font-weight: 400;
        margin-left: 2rem;
    }
    
    .style-hover-link:hover {
        color: #4fafb7;
    }
    /*=========================================================*/
    /*========================================================*/
    /* PAGINA QUEM SOMOS */
    
    .paragraph-are-we {
        margin: 9rem 6rem 14rem;
        font-size: 22pt;
        font-weight: 500;
    }
    
    .paragraph-are-we p {
        margin-top: 2rem;
    }
    
    .citation-are-we {
        display: flex;
        float: right;
        margin-top: 4rem;
        text-align: right;
    }
    /*=========================================================*/
    /*PAGINA 'DUVIDAS' */
    
    .logo {
        width: 130px;
        height: 22px;
        top: -10px;
    }
    
    .logo img {
        width: 100%;
        height: 100%;
    }
    
    .questions {
        margin: 9rem 4.8rem;
    }
    
    .questions h1 {
        color: #898989;
        font-size: 20pt;
        margin-bottom: 1rem;
        margin-top: 5rem;
    }
    
    .questions p {
        font-size: 15pt;
        margin-bottom: 1rem;
    }
    /*=====================================================================================*/
    /*Página RECLAME*/
    
    .form-reclame {
        margin-top: 3rem;
        font-size: 20pt;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .form-reclame h2 {
        margin-bottom: 3rem;
        color: #4fafb7;
        font-size: 22pt;
        font-weight: 400;
    }
    
    .form-dados-pessoais {
        display: flex;
        flex-direction: column;
    }
    
    .form-dados-pessoais label {
        margin-right: 1rem;
    }
    
    .form-dados-pessoais div {
        display: flex;
        align-items: center;
        justify-content: end;
    }
    
    #informar-problema {
        align-items: flex-start;
    }
    
    .width-input-default input {
        width: 480px;
        height: 25px;
    }
    
    #problemaReclame {
        height: 350px;
    }
    
    #reset {
        height: auto;
        width: auto;
    }
    
    .form-forma-contato {
        text-align: center;
    }
    
    .form-forma-contato h3 {
        color: #4fafb7;
        font-weight: 400;
        margin-top: 3rem;
        margin-bottom: 1rem;
    }
    
    .form-forma-contato label {
        display: inline-flex;
        align-items: center;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    /*Estrutura para formatar a "bolinha" de seleção radio*/
    
    .form-forma-contato input[type="radio"] {
        display: none;
    }
    
    .form-forma-contato button {
        margin-right: 1rem;
        background-size: 1rem;
        border-radius: 5rem;
        border: solid #898989 2px;
        width: 10px;
        height: 10px;
    }
    
    .form-forma-contato input[type="radio"]:checked+label button {
        background-size: 1rem;
        background-color: #898989;
        border: none;
        width: 10px;
        height: 10px;
    }
    /* Input "Apagar tudo"*/
    
    .form-forma-contato input[type="reset"] {
        background: none;
        border: none;
        font-size: 17pt;
        color: #898989;
        font-weight: 700;
        margin: 2rem 0rem 2rem;
    }
    
    .form-forma-contato input[type="reset"]:hover {
        color: #acacac;
        transition: 1s;
    }
    /*==============================================================*/
    /*=======================================================*/
    /*
    *alinhamento dos botões de envio e cancelar;
    *Estilização */
    
    #submit_cancel-button {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    
    #submit_cancel-button input {
        font-size: 17pt;
        font-weight: 400;
        border-radius: 1rem;
        margin-bottom: 2rem;
    }
    
    #submit_cancel-button input[type="submit"] {
        background: none;
        border: 2px solid #53df90;
        width: 7rem;
        height: 2rem;
        color: #53df90;
        margin-right: 2rem;
    }
    
    #submit_cancel-button input[type="submit"]:hover {
        background: #53df90;
        color: white;
        transition-duration: 1s;
    }
    
    #submit_cancel-button input[type="button"] {
        background: none;
        border: 2px solid #ff0000;
        width: 7rem;
        height: 2rem;
        color: #ff0000;
        margin-left: 2rem;
    }
    
    #submit_cancel-button input[type="button"]:hover {
        background: #ff0000;
        color: white;
        transition-duration: 1s;
    }
    /*=============================================================*/
    /*PAGINA DE TEN DAYS FREE*/
    
    .bg-days-free {
        max-width: 100%;
        position: absolute;
        height: 900px;
        overflow: hidden;
    }
    
    .bg-days-free img {
        height: 100%;
    }
    
    #header-10daysfree {
        position: relative;
        display: flex;
        height: 900px;
    }
    
    .title-10daysfree {
        position: relative;
        margin: auto;
        max-width: max-content;
        max-height: min-content;
        text-align: center;
        font-size: 20pt;
    }
    
    .title-10daysfree h1 {
        color: white;
        font-weight: 500;
    }
    
    .title-10daysfree b {
        color: white;
    }
    /*===============================================================================*/